.modal {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
}

.container {
    display: flex;
    padding: 10px;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.container img {
    object-fit: cover;
}